*{
    margin:0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.79);
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container{

    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:40vh;
    width: 40vw;
}
.row{
    display:flex;
    gap:0.8vw;
}

.h,.vert1,.vert2{
    background: rgb(10,72,227);
    background: linear-gradient(312deg, rgba(10,72,227,1) 0%, rgba(222,31,31,1) 35%, rgba(181,16,16,1) 100%);
}
.h{
    width:40vw;
    height: 1.8vh;
}
.play{
    width:10vw;
    height:10vh;
    background-color: grey;
}
.vert1,.vert2{
    z-index: 1;
    height:50vh;
    width:0.8vw;
    position:absolute;
}
.vert1{
    right:14.2vw;
}
.vert2{
    left:14.2vw;
}




/*
<div class="play"></div>
            <div class="v"></div>
            <div class="play"></div>
            <div class="v"></div>
            <div class="play"></div>
*/