*{
    margin:0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.79);
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:40vh;
    width: 40vw;
}
.row{
    display:flex;
    gap:0.8vw;
}

.h,.vert1,.vert2{
    background: rgb(10,72,227);
    background: linear-gradient(312deg, rgba(10,72,227,1) 0%, rgba(222,31,31,1) 45%, rgba(181,16,16,1) 100%);
    border-radius: 10px;
}
.h{
    width:45vw;
    height: 1.8vh;
}
.play{
    width:13vw;
    height:12.2vh;
    background-color: rgba(26, 24, 24, 0.82);
}
.vert1,.vert2{
    z-index: 1;
    height:50vh;
    width:0.8vw;
    position:absolute;
}
.vert1{
    right:12.7vw;
}
.vert2{
    left:12.7vw;
}

.tleft{
    border-top-left-radius: 10px;
}
.tright{
    border-top-right-radius: 10px;
}
.bleft{
    border-bottom-left-radius: 10px;
}
.bright{
    border-bottom-right-radius: 10px;
}